:root {
  --color-primary: #fa0015;
  --color-secondary: #202020;
  --color-dark: #151515;
  --color-light: #feffff;
}

body {
  font-family: helvetica, arial, sans-serif !important; /* TODO: why do we need important here? */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  overflow: hidden;
}

/* https://codepen.io/altreiter/pen/rVLjOQ 😜 */
@keyframes loadingAnimation {
  0% {
    border-width: 0;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0.1;
  }
  50% {
    border-width: 10px;
    opacity: 0.8;
  }
  100% {
    border-width: 0;
    width: 100px;
    height: 100px;
    margin: -50px;
    opacity: 0.1;
  }
}
.loading:before,
.loading:after {
  content: '';
}

.loading,
.loading:before,
.loading:after {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  border-radius: 50%;
  border-width: 0;
  border-color: var(--color-primary);
  border-style: solid;
  animation-name: loadingAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.loading:before {
  animation-delay: 333ms;
}

.loading:after {
  animation-delay: 666ms;
}
